<!DOCTYPE html>
<html lang="en">
  <head>
    {% load static %}
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="{% static 'tinymce/css/prism.css' %}" rel="stylesheet" />
    <title>{{ title|safe }}</title>
  </head>
  <body>
    <div>{{ subject|safe }}</div>
    <div>{{ description|safe }}</div>
    <div>{{ agenda|safe }}</div>
  </body>
  <script src="{% static 'tinymce/js/prism.js' %}"></script>
</html>
