{% load crispy_forms_tags %}
<div
  class="modal fade"
  id="addMeetingTypeModal"
  tabindex="-1"
  aria-hidden="true"
>
  <div class="modal-dialog modal-xl">
    {% if add_meeting_type_form %}
    <form
      method="POST"
      action="{% url 'meetings:add_meeting_type' committee.id %}"
    >
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Add New Meeting Type</h5>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></button>
        </div>
        <div class="modal-body">
          <!-- prettier-ignore -->
          {% csrf_token %} {{ add_meeting_type_form|crispy }}
        </div>
        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-secondary"
            data-bs-dismiss="modal"
          >
            Close
          </button>
          <button type="submit" class="btn btn-primary">
            Add Meeting Type
          </button>
        </div>
      </div>
    </form>
    {% endif %}
  </div>
</div>
